div{
    height: 100px;
    width: 100px;
    position: absolute;
}
#one{
    background-color: red;
    animation: move 8s infinite, rotate 2s infinite, color 8s infinite;
}
#two{
    background-color: blue;
    animation: move 8s infinite, rotate 2s infinite, color 8s infinite;
    animation-delay: -2s;
}
#three{
    background-color: green;
    animation: move 8s infinite, rotate 2s infinite, color 8s infinite;
    animation-delay: -4s;
}
#four{
    background-color: yellow;
    animation: move 8s infinite,rotate 2s infinite, color 8s infinite;
    animation-delay: -6s;
}
@keyframes move{
    0% { left: 0; top: 0; }
    25% { left: calc(100% - 100px); top: 0; }
    50% { left: calc(100% - 100px); top:calc(100% - 100px) }
    75% { left: 0; top: calc(100% - 100px);}
    100% { left: 0; top: 0; }
}
@keyframes rotate{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
@keyframes color{
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: green; }
    75% { background-color: yellow; }
    100% { background-color: red; }
}
body{
    overflow: hidden;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
