header{
    background-color: green;
    text-align: center;
    color: white;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;    
}
section{
    width: 48vw;
    height: 10vw;
    background-color: antiquewhite;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
h2{
    border-bottom: 1px solid black;
    width: 48vw;
}
body{
    font-family: Arial;
}