body{
    font-family: Arial;
}
header {
    color: white;
    background-color: green;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    gap: 10px;
}